/.phpunit.cache
/node_modules
env
# /public/build
/firstclass
/public/hot
/public/storage
/public/cloud
/public/error_log
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
/.fleet
/.idea
/.vscode
/storage/profile
/storage/public
/storage/app/pages.json
/storage/app/backup.sql
/public/assets/resources/icon.png
/public/assets/resources/logo.png
/public/assets/resources/logo-footer.png
/public/assets/resources/job-application.png
/public/assets/resources/testimonials.png
/public/assets/resources/footer-overlay.png
/public/assets/resources/login.png
/public/assets/resources/signup.png
/public/assets/resources/restore.png
/public/assets/resources/reset.png
/public/assets/resources/payments.png
/public/assets/resources/subscribe.png
/public/assets/resources/qr-digital-wallet.*
/public/assets/resources/whatsapp-advisor-*

/public/assets/resources/transfer-account-*
/vite.config.js.timestamp*
/storage/app/*_backup.sql
/public/sitemap.xml
/.env-useTunnel
/vite.config-useTunnel.js
/lapetaca
/storage/app/*.zip
COLORS_SYSTEM.md
/docs/EMAIL_SYSTEM_UNIFIED.md
/docs/EMAIL_TEMPLATE_EXAMPLE.html
