# 1. Evita que se listen las carpetas (el error que tenías en Google)
Options -Indexes

# 2. Establece el archivo de inicio por defecto
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Bloquear acceso a archivos y rutas de escaneo sensibles (Mitigación de Bots)
    RewriteRule (?i)\.(env|git|svn|bak|sql|zip|rar|tar\.gz)$ - [F,L]
    RewriteRule (?i)(wp-admin|wp-login|wp-content|wp-includes|xmlrpc\.php) - [F,L]
    RewriteRule (?i)(phpmyadmin|adminer\.php) - [F,L]

    # Si la petición ya viene con /public/, no hagas nada
    RewriteCond %{REQUEST_URI} ^/public/ [NC]
    RewriteRule ^ - [L]

    # Redirecciona todo lo demás a la carpeta /public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Mantén tu configuración de PHP intacta
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml 
</IfModule>